:root {
  --primary-color-name: #3b5d50;
  --primary-color: 59, 93, 80;
  --primary-color-h: 157, 22%, 30%;

  --secondary-color-name: #f9bf29;
  --secondary-color: 249, 191, 41;
  --secondary-color-h: 43, 95%, 57%;
}
